@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0%;
  font-family: 'Poppins';
  background-color: rgba(34,47,62,1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.13);
  -webkit-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.13);
  -moz-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.13);
  background: linear-gradient(135deg, rgba(34,47,62,1), rgb(69, 74, 80));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
 
  
}

.port-nav-logo {

  color: #FF6B6B;
  text-decoration: none;

}

.port-nav-items {
  padding:20px ;
  font-size: 30px;
  text-decoration: none;
      
}



.home:hover::after {
  content: "Home";
  color: #FF6B6B;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s ease;
}

.blogs:hover::after {
  content: "Blogs";
  color: #FF6B6B;
  text-decoration: none;
  font-size: 25px;
}

.about:hover::after {
  content: "About";
  color: #FF6B6B;
  text-decoration: none;
  font-size: 25px;
}
